@font-face {
    font-family: "B Yekan";
    src: url(../fonts/Yekan-modified.woff?1517899660) format('woff'), url(../fonts/Yekan-modified.ttf?1517899660) format('truetype'), url(../fonts/Yekan-modified.eot?1517899660) format('embedded-opentype');
}

body {
    background: #f7f7f7;
    font-family: "B Yekan";
}

.noFloat {
    float: none;
}

.header {
    background: #2a3f54;
    height: 100px;
    line-height:100px;
    color: #fff;
    text-align: center;
    font-size:28px;
}

.loginBox {
    background: #e6e9f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 150px 30px;
    padding: 50px 20px 35px;
    box-shadow: 0px 0px 5px #999;
}

.backgroundImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    text-align: center;
    z-index: -1;
}

    .backgroundImage img {
        height: 80%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
