@{Layout = "~/Views/Shared/_Layout.cshtml";}
@using GridMvc.Html
@model List<IAUECProfessorsEvaluation.Web.Models.User>
<div class="row">
    <div class="col-sm-12">
        <a href="/" class="btn btn-success" id="addUser"><i class="fa fa-plus-circle "></i> ایجاد کاربر جدید</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @(Html
    .Grid(Model)
    .Columns(columns =>
    {
        columns.Add(model => model.Username).Titled("نام کاربری").SetWidth("30%").Filterable(true).Sortable(true);
        columns.Add(model => model.College).RenderValueAs(o=> o.College == null ? "---" : o.College.Name).Titled("نام دانشکده").SetWidth("25%").Filterable(true).Sortable(true);
        columns.Add(model => model.EducationalGroupName).RenderValueAs(o => o.EducationalGroupName == null ? "---" : o.EducationalGroupName).Titled("نام گروه").SetWidth("25%").Filterable(true).Sortable(true);
        columns.Add(model => model.ID).Titled("عملیات").SetWidth("20%")
            .Encoded(false).Sanitized(false)
            .RenderValueAs(o => "<a href=\"/\" class=\"btn btn-info editUser\" data-id=\"" + o.ID + "\"><i class=\"fa fa-pencil\"></i> ویرایش</a>" + (o.ID != 1 ? ("<a href=\"/\" class=\"btn btn-danger deleteUser\" data-id=\"" + o.ID + "\"><i class=\"fa fa-remove\"></i> حذف</a>") : "")).Filterable(false).Sortable(false);
    })
    .WithPaging(20)
    .EmptyText("موردی جهت نمایش یافت نشد.")
    .WithMultipleFilters()
        .SetLanguage("fa")
        )
    </div>
    <div id="dialog"></div>
</div>

<script>
    $(function () {
        $('#addUser').click(function (e) {
            e.preventDefault();
            var href = "/Pages/ShowUser";
            $('#dialog').dialog({
                modal: true,
                open: function (event, ui) {
                    $(this).load(href, function (result) { });
                    return false;
                },
                width: 768,
                maxHeight: 600,
                minHeight: 300,
                position: { my: 'center top', at: 'center top' },
                close: function (event, ui) { $('#dialog').html("") }
            });
            return false;
        });

        $('.editUser').click(function (e) {
            e.preventDefault();
            var href = "/Pages/ShowUser/" + $(this).data("id");
            $('#dialog').dialog({
                modal: true,
                open: function (event, ui) {
                    $(this).load(href, function (result) { });
                    return false;
                },
                width: 768,
                maxHeight: 600,
                minHeight: 300,
                position: { my: 'center top', at: 'center top' },
                close: function (event, ui) { $('#dialog').html("") }
            });
            return false;
        });

        $('.deleteUser').click(function (e) {
            e.preventDefault();
            if (confirm('آیا از حذف این کاربر اطمینان دارید?')) {
                $.ajax({
                    url: '/Pages/DeleteUser',
                    type: 'POST',
                    data: { id: $(this).data("id") },
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        });
    });
</script>