@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .txt-rigth {
        text-align: right;
    }

    .with-m {
        width: 50px;
    }

    .txt-question {
        width: 60%;
        color: red;
    }

    .tr-header {
        background-color: #EEEEEE;
    }

    .txt-center {
        text-align: center;
    }

    .k-radio, input.k-checkbox {
        display: inline;
        opacity: 0;
        width: 0;
        margin: 0;
        -webkit-appearance: none;
        overflow: hidden;
    }

    .k-checkbox-label {
        display: inline-block;
        position: relative;
        padding-left: 25.2px;
        vertical-align: text-top;
        line-height: 16px;
        cursor: pointer;
        border-style: solid;
        border-width: 0;
        cursor: pointer;
    }

        .k-checkbox-label:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-width: 1px;
            border-style: solid;
            width: 14px;
            height: 14px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }

        .k-checkbox-label:before {
            border-color: #ccc;
            background: #fff;
            border-radius: 3px;
        }

    .k-checkbox:checked + .k-checkbox-label:before {
        content: "\2713";
    }

    .container-last-question {
        border: 1px solid;
    }

    .tbody-user-info, td {
        height: 35px;
    }

    .thead-user-info, th {
        text-align: center;
    }

    .container-user-info {
        display: none;
    }

    .btn-success {
        display: none;
        min-width: 100px;
    }

    .container-success-message {
        text-align: right;
        display: none;
    }

    .container-error-message {
        text-align: right;
        display: none;
    }

    .container-descriptive-questions {
        margin-bottom: 7px;
    }

    .txt-area:focus {
        border: 1px solid #C5E1A5;
    }
</style>

<div class="panel panel-info">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="alert alert-info">

        </div>
        <div class="body-container">

            <table class="table table-striped table-bordered  table-questions">
                <thead class="table-thead"></thead>
                <tbody></tbody>
            </table>
            <div class="container-descriptive-questions">

            </div>
            <div class="container-last-question">
            </div>
            <div class="container-description" style="display: none;">
                <textarea id="userComment" placeholder="نظرات و پیشنهادات خود را در جهت ارتقای واحد الکترونیکی بیان نمایید:" class="form-control" style="border: 1px solid;" rows="7"></textarea>
            </div>
            <input type="hidden" id="termId" value="@(ViewBag.TermId)" />
            <div class="row" style="padding: 3px;">
                <a class="btn btn-success" style="width: 120px;">ثبت </a>
            </div>
        </div>
        <div class="container-success-message">
            <div class="alert alert-success">
                نظر سنجی شما با موفقیت ثبت شد.
            </div>
        </div>
        <div class="container-error-message">
            <div class="alert alert-danger">
                خطایی هنگام ثبت اطلاعات اتفاق افتاده است.
            </div>
        </div>
    </div>
</div>





<script>
    var questionCount = 0;
    var indexPageUrl='@Url.Action("Index","Pages")';
    $(function () {
             $('.loadingWrapper').show();
        IsQuestionExist();
    });

    function IsUserevaluated() {

        $.ajax({
            type: "Get",
            url: "/StudentEvaluation/IsUserevaluated",
            success: function (res) {
                if (!res) {
                   getQuestion();
                } else {
                    $('.alert-info').text("شما قبلا در این نظر سنجی شرکت کرده اید.");
                     $('.loadingWrapper').hide();
                }
            },
            Error: function () {
                console.log("error")
            }
        });
    }

    function IsQuestionExist() {
        $.ajax({
            type: "Get",
            url: "/StudentEvaluation/IsQuestionExist",
            data: {
                typeId:1
            },
            success: function (res) {
                if (res) {
                    IsUserevaluated();
                    $(".alert-info").css("display", "none");
                } else {
                    $('.alert-info').text("برای این ترم نظر سنجی در نظر گرفته نشده است");
                     $('.loadingWrapper').hide();
                }
            },
            Error: function () {
                console.log("error")
            }
        });
    }

    function getQuestion() {
        $.ajax({
            type: "Get",
            url: "/StudentEvaluation/GetTestQuestions",
            data: {
                typeId:1
            },
            beforeSend: function() {
                $('.loadingWrapper').show();
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                var data = res;
                console.log(res);
                if (data.length >= 1) {
                    var $tableHead = $(".table-thead");
                    $("#termId").val(data[0].Term_Id);

                    generateAnswerOfQuestions($tableHead, data);
                    

                }
                getDescriptiveQuestions();
            },
            Error: function () {
                console.log("error")
            }

        });
    }


    function getDescriptiveQuestions() {
        $.ajax({
            type: "POST",
            url: "/StudentEvaluation/GetDescriptiveQuestions",
            beforeSend: function() {
                $('.loadingWrapper').show();
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                var $containerDescriptiveQuestion = $('.container-descriptive-questions');
                if (res.length > 0) {
                    generateDescriptiveQuestion($containerDescriptiveQuestion, res);
                     $(".btn-success").css("display", "block");
                }

            },
            Error: function () {
                console.log("error")
            },
            complete: function () {
                $('.loadingWrapper').hide();
            }
        });
    }

    function generateDescriptiveQuestion($containerdescriptiveQuestion, data) {
        for (var i = 0; i < data.length; i++) {
            var $parentDiv = "<div style='margin-bottom:2px;'><div style='font-size: 15px;margin: 4px 6px;'>" + data[i].Text + "؟</div><div><textarea id=" + data[i].Id + " class='form-control txt-area' placeholder='پاسخ خود را وارد نمایید' class='form-controll'></textarea></div></div>";
        $containerdescriptiveQuestion.append($parentDiv);
        }
    }

    function generateAnswerOfQuestions($tableHead, data) {
        for (var i = 0; i < data.length; i++) {
            if (data[i].SubQuestionDTOs.length >= 1 && !data[i].IsLastQuestion) {
                var $tr = $("<tr class='tr-header'><th class='txt-rigth with-m'></th>" +
                    "<th class='txt-rigth txt-question'>* " + data[i].Text + "</th>"
                    + "</tr>");
                if (data[i].AnswerOfQuestions.length >= 1) {

                    for (var j = 0; j < data[i].AnswerOfQuestions.length; j++) {
                        var td = "<th class='txt-center'>" + data[i].AnswerOfQuestions[j].Text + "</th>";
                        $tr.append(td);
                    }
                }
                $tableHead.append($tr);
                generateSubQuestionDTOs($tableHead, data, i);

            } else if (!data[i].IsLastQuestion) {
                var $tr = $("<tr id=" + data[i].Id + " class='tr-header'><th class='txt-rigth with-m'></th>" +
                    "<th class='txt-rigth txt-question'>* " + data[i].Text + "</th>"
                    + "</tr>");
                questionCount++;
                if (data[i].AnswerOfQuestions.length >= 1) {


                    for (var j = 0; j < data[i].AnswerOfQuestions.length; j++) {
                        var id = (data[i].Id + data[i].AnswerOfQuestions[j].Id);
                        var td = "<th class='txt-center'><input id=" + id + " style='cursor:pointer;' class='k-checkbox' data-type=" + data[i].AnswerOfQuestions[j].Id + " data-value=" + data[i].Id + ",0," + data[i].AnswerOfQuestions[j].Id + " onchange='handleClick(" + data[i].Id + "," + data[i].AnswerOfQuestions[j].Id + ")'  type='checkbox' value='0'/><label style='padding-top: 1px;margin-left: 49px;' for=" + id + " class='k-checkbox-label'>" + data[i].AnswerOfQuestions[j].Text + "</label></th>";
                        $tr.append(td);
                    }
                }
                $tableHead.append($tr);
                if (data[i].IsPossibilityToInsertComment) {
                    var colspancount = data[i].AnswerOfQuestions.length + 1;
                    var answerQuestionTr = "<tr><td></td><td colspan=" + colspancount + " ><textarea id=" + data[i].Id  + " class='form-control txt-area' placeholder='کامنت بگذارید' class='form-controll'></textarea></td></tr>";
                     $tableHead.append(answerQuestionTr);
                }
                 
                generateSubQuestionDTOs($tableHead, data, i);
            } else {
                generateLastQuestion(data[i], i);
                questionCount++;
            }
            $(".container-description").css("display", "block");
            $(".container-user-info").css("display", "block");
            $(".btn-success").css("display", "block");

            //setUserInfo();
        }
    }

    function generateSubQuestionDTOs($tableHead, data, i) {
        if (data[i].SubQuestionDTOs.length >= 1) {
            for (var j = 0; j < data[i].SubQuestionDTOs.length; j++) {
                questionCount++;
                if (data[i].SubQuestionDTOs[j].QuestionId == data[i].Id) {
                    var $tr = $("<tr id=" + data[i].SubQuestionDTOs[j].Id + "><td class='txt-rigth with-m'>" + (j + 1) + "</td>" +
                        "<td class='txt-rigth'>" + data[i].SubQuestionDTOs[j].Text + "</td>"
                        + "</tr>");
                    for (var z = 0; z < data[i].AnswerOfQuestions.length; z++) {

                        var id = (data[i].SubQuestionDTOs[j].Id * data[i].AnswerOfQuestions[z].Id);
                        var td = "<td class='txt-center'><input id=" + id + " style='cursor:pointer;' class='k-checkbox' data-type=" + data[i].AnswerOfQuestions[z].Id + " data-value=" + data[i].SubQuestionDTOs[j].QuestionId + "," + data[i].SubQuestionDTOs[j].Id + "," + data[i].AnswerOfQuestions[z].Id + " onchange='handleClick(" + data[i].SubQuestionDTOs[j].Id + "," + data[i].AnswerOfQuestions[z].Id + ")'  type='checkbox' value='0'/><label for=" + id + " class='k-checkbox-label'></label></td>";
                        //var td = "<td class='txt-center'><label><input data-type=" + data[i].AnswerOfQuestions[z].Id + " data-value=" + data[i].SubQuestionDTOs[j].Id + "," + data[i].AnswerOfQuestions[z].Id + " onchange='handleClick(" + data[i].SubQuestionDTOs[j].Id + "," + data[i].AnswerOfQuestions[z].Id + ")' type='checkbox' name='check'><span class='label-text'></span></label></td>";
                        //var td = "<td class='txt-center'><input data-type=" + data[i].AnswerOfQuestions[z].Id + " data-value=" + data[i].SubQuestionDTOs[j].Id + "," + data[i].AnswerOfQuestions[z].Id + " onchange='handleClick(" + data[i].SubQuestionDTOs[j].Id + "," + data[i].AnswerOfQuestions[z].Id + ")'  type='checkbox' value='0'/></td>";
                        $tr.append(td);
                    }
                    $tableHead.append($tr);
                    if (data[i].IsPossibilityToInsertComment) {
                         var colspancount = data[i].AnswerOfQuestions.length + 1;
                    var answerQuestionTr = "<tr><td></td><td colspan=" + colspancount + " ><textarea id=" + data[i].SubQuestionDTOs[j].Id  + " class='form-control txt-area' placeholder='کامنت بگذارید' class='form-controll'></textarea></td></tr>";
                     $tableHead.append(answerQuestionTr);
                    }
                   


                }

            }
        }

    }

    function handleClick(trId, idCheckBox) {

        var $tr = $("#" + trId);
        $tr.find('input[type="checkbox"]').each(function () {

            if ($(this).attr("data-type") != idCheckBox) {

                $(this).prop('checked', false);
            }

        });
    }

    function generateLastQuestion(data, i) {
        //$(".container-last-question").css("display", "block !important;");

        var $containerLastQuestion = $('.container-last-question');
        var $containerLastQuestionTitle = $("<div style='border: 1px solid;padding: 7px;'>" + data.Text + "</div>");
        $containerLastQuestion.append($containerLastQuestionTitle);
        for (var j = 0; j < data.AnswerOfQuestions.length; j++) {

            var id = (data.AnswerOfQuestions[j].Id + data.Id);
            var $containerAnswer = $("<div style='display:inline-table;border-left:1px solid;padding: 5px;'><input id=" + id + " data-value=" + data.Id + ",0," + data.AnswerOfQuestions[j].Id + " class='k-checkbox' type ='checkbox' /> <label style='padding-top: 1px;' for=" + id + " class='k-checkbox-label'>" + data.AnswerOfQuestions[j].Text + "</label></div>");
            $containerLastQuestion.append($containerAnswer);
        }

    }


    $(".btn-success").click(function () {
        var answerArray = [];
        var descriptiveAnswerArray = [];
        $('.table-questions .k-checkbox:checkbox:checked').each(function () {
            var dataValue = $(this).attr("data-value");
            answerArray.push(dataValue);
        });
        $('.container-last-question .k-checkbox:checkbox:checked').each(function () {
            var dataValue = $(this).attr("data-value");
            answerArray.push(dataValue);
        });
        $('.txt-area').each(function () {
            debugger;
            var questionId = $(this).prop("id");
            var answer = $(this).val();
            var questionIdWithAnswer = questionId + "," + answer;
            descriptiveAnswerArray.push(questionIdWithAnswer);
        });
        var userComment = $("#userComment").val();

        if (answerArray.length >= questionCount) {

            saveAnswer(answerArray, userComment,descriptiveAnswerArray);
        } else {
            alert("شما به تمامی سوالات جواب نداده اید.")
        }

    });

    function saveAnswer(answers, comment,descriptiveAnswerArray) {

        //var model = { Answers: answers, LastAnswer: lastAnswer, Comments: comments };
        //var data = JSON.stringify({ Answers: '1', LastAnswer: '2', Comments: '3' });
        //   $.ajax({
        //    type: "POST",
        //    url: "/StudentEvaluation/Insert",
        //    data: {
        //        question: question,
        //        termId: termId,
        //        answers: answers,
        //        isLastQuestion: isLastQuestion
        //    },
        //    success: function (e) {
        //
        //        window.location.href = newUrl;
        //    },
        //    Error: function () {
        //        console.log("error")
        //    }
        //});
        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertStudentAnswer", "StudentEvaluation")',
            data: {
                Answers: answers,
                Comment: comment,
                TermId: $("#termId").val(),
                descriptiveAnswerArray:descriptiveAnswerArray
            },
            success: function (res) {
                $(".body-container").css("display", "none");
                $(".container-success-message").css("display", "block");
                window.location.href = indexPageUrl;
            },
            Error: function () {
                $(".body-container").css("display", "none");
                $(".container-error-message").css("display", "block");
                window.location.href = indexPageUrl;
            }
        });
    }

</script>
